body {
  background-color: #f2f5f9;
  font-family: Inter;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 42px 32px;
  min-width: 20%;
}

.container > h1 {
  line-height: 1.5rem;
  font-weight: bold;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login > p:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login > p:last-of-type {
  align-self: flex-start;
}

label {
  color: #888c94;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

#id_login,
#id_password {
  display: flex;
  margin-top: 0.5rem;
  padding: 1rem 1rem 1rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: 1px solid rgb(204 220 232 / 100%);
  border-radius: 0.5rem;
}

.primaryAction {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ec6d25;
  width: 100%;
  height: 49px;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.secondaryAction {
  align-self: flex-end;
  color: #00518b;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.errorlist {
  color: red;
}

.info {
  max-width: 400px;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  margin-top: 24px;
  overflow-wrap: break-word;
}

.infoBtn: {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
